// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "~fullcalendar/dist/fullcalendar.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: "loading…";
}

.fc-content {
  padding: 0.5em;

  & > div:not(:last-child):not(:first-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 0.4em;
    margin-bottom: 0.4em;
  }
}

.fc-title {
  font-weight: bold;
}

.fc-description {
  display: none;

  .fc-agendaDay-view & {
    display: block;
    &::before {
      display: inline-block;
      content: "📝 ";
      width: 1.5em;
    }
  }
}

.fc-user {
  display: none;
  font-style: italic;

  .fc-agendaDay-view &,
  .fc-agendaWeek-view & {
    display: block;
    &::before {
      display: inline-block;
      content: "👤 ";
      width: 1.5em;
    }
  }
}

.fc-location {
  display: none;
  font-style: italic;

  .fc-agendaDay-view &,
  .fc-agendaWeek-view & {
    display: block;
    &::before {
      display: inline-block;
      content: "📍 ";
      width: 1.5em;
    }
  }
}
